---
import { IN_USE, GITHUB } from "~/content"
import Section from "@c/Section.astro"
import Svgg from "../svg/Svgg.astro"
---

<Section class="px-gx">
  <div class="md:ml-grid-3 py-[5rem]">
    <div class="py-xl flex flex-col tracking-tighter md:flex-row">
      <div class="w-grid-2">
        <h2 data-module="text" data-type="chars" class="text-xl font-semibold">
          In Use.
        </h2>
      </div>
      <div>
        <h3 data-module="text" data-type="words">Using Smooothy?</h3>
        <a
          data-hover="opacity"
          data-module="text"
          data-type="words"
          href={GITHUB.pull_requests}
          target="_blank"
          >Slap your website here thanks {"<3"}
        </a>
      </div>
    </div>

    <figure data-module="draw" class="py-xl relative">
      <Svgg name="drink" class="" />
      <figcaption class="sr-only">A smoothie</figcaption>
    </figure>

    <ul class="flex flex-col gap-3 py-4">
      <li
        class="w-grids-6 gap-gutter grid grid-cols-6 py-8 font-mono text-xs uppercase"
      >
        <h3
          data-module="text"
          data-type="chars"
          class="col-span-3 md:col-span-2"
        >
          Title
        </h3>
        <p
          data-module="text"
          data-type="chars"
          class="col-span-2 hidden md:block"
        >
          Year
        </p>
        <p data-module="text" data-type="chars" class="col-span-2">By</p>
      </li>
      {
        IN_USE.items.map(({ title, year, by, url, by_url }, i) => (
          <li class="w-grids-6 gap-gutter grid grid-cols-6">
            <a
              data-hover="opacity"
              href={url}
              target="_blank"
              class="col-span-3 font-semibold tracking-tighter md:col-span-2"
            >
              <h3
                data-module="text"
                data-type="chars"
                data-delay={i * 0.15}
                class="w-full"
              >
                {title}
              </h3>
            </a>
            <p
              data-module="text"
              data-type="chars"
              data-delay={i * 0.15}
              class="col-span-2 hidden font-mono tracking-widest md:block"
            >
              {year}
            </p>

            <a
              data-hover="opacity"
              href={by_url}
              target="_blank"
              class="col-span-2"
            >
              <p data-module="text" data-type="chars" data-delay={i * 0.15}>
                {by}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
